@layer fonts {

  @font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/opensans-variable.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300 800;
  }

  @font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-variable.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 100 900;
  }
}